<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ml.pm25.dao.SpiderCrawlDao">
<insert id="savePm25">
	insert into pm25(name,pm25,aqi,state,code,detailsurl,createtime) 
	values(#{pm25Info.name},#{pm25Info.pm25},#{pm25Info.aqi},#{pm25Info.state},#{pm25Info.code},#{pm25Info.detailsurl},NOW());
</insert>
<select id="queryCityCode" resultType="java.lang.String">
	select code from pm25_city
</select>

</mapper>

